<ion-view view-title="{{data.city.name}}">
    <ion-content class="padding">
        <ion-refresher pulling-text="Обновление" on-refresh="refresh()">
        </ion-refresher>
        <h2>
            Город: {{data.city.name}}
        </h2>

        <p>
            Страна: {{data.city.country}}
        </p>

        <p>
            Широта: {{data.city.coord.lon}}
            Долгота: {{data.city.coord.lat}}
        </p>
        <h4>
            Данные OpenWeatherMap
        </h4>
        <ion-list>
            <a class="item item-avatar" ng-repeat="day in data.list" href="#">
                <img ng-src="img/weather/{{day.weather[0].icon}}.png">

                <h2>Температура: {{(day.temp.day - 273.15).toFixed(1)}}°C</h2>

                <p>На дату: <span ng-bind="day.dt*1000 | date: 'dd.MM.yyyy'"></span></p>
            </a>
        </ion-list>
        <h4>
            Данные методом ARMA
        </h4>
        <ion-list>
            <a class="item item-avatar" ng-repeat="day in forecast" href="#">
                <img ng-src="img/weather/{{day.icon}}">

                <h2>Температура: {{day.temp}}°C</h2>

                <p>На дату: {{day.date}}</p>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
